.d-flex {
    display: flex;
}
.place-center {
    place-content: center;
}
.justify-content-center {
    justify-content: center;
}
.text-align-center {
    text-align: center;
}
.w-50 {
    width: 50%;
}
.text-bold {
    font-weight: bold;
}
.px-15 {
    padding: 15% 0;
}
